.ant-card-grid {
  padding: 8px;
}
.name-box {
  margin: auto;
  padding-top: 10px;
}
.name {
  display: block;
  font-size: 12px;
  padding-left: 7px;
}

//=========================
.card-container {
  position: relative;
  margin: 30px auto;
}
.btn-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.edit-btn {
  margin-right: 8px;
}
.card-container:hover .btn-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.card-container:hover .btn-container {
  position: absolute;
  width: 100%;
  top: 150px;
  text-align: center;
  opacity: 1;
}
.btn-container {
  position: absolute;
  width: 20%;
  top: 170px;
  text-align: center;
  opacity: 0;
}
.person-card {
  width: 23%;
  background-color: #f0f8ff;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 15px;
}
@media screen and (min-width: 0em) and (max-width: 33.9em) {
  .card-container {
    width: 300px;
  }
  .name {
    font-size: 10px;
    padding-left: 0;
  }
  .person-card {
    width: 88%;
  }
}
@media screen and (min-width: 34em) and (max-width: 46.9em) {
  .card-container {
    width: 100%;
  }
  .name {
    font-size: 10px;
    padding-left: 0;
  }
  .person-card {
    width: 30%;
  }
}
@media screen and (min-width: 47em) and (max-width: 63.9em) {
  .card-container {
    width: 100%;
  }
  .name {
    display: block;
    font-size: 10px;
    padding-left: 0;
    margin-top: 8px;
  }
  .person-card {
    width: 45%;
  }
}
@media screen and (min-width: 64em) and (max-width: 73.9em) {
  .card-container {
    width: 100%;
  }
  .person-card {
    width: 30%;
  }
}
