body {
  background-color: rgb(233, 231, 231);
  font-family: 'Roboto', sans-serif;
}
#app_title {
  margin: 20px auto;
}
#app {
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
}
.app_container {
  width: 90%;
  height: 100%;
  margin: 5px auto;
}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(233, 231, 231);
}
.list-container {
  width: 70%;
}

.card-container .edit-btn:hover {
  background-color: rgba(211, 243, 174, 0.8);
  transition: 0.2s linear;
  cursor: pointer;
}
.card-container .delete-btn:hover {
  background-color: rgba(230, 64, 64, 0.8);
  transition: 0.2s linear;
  cursor: pointer;
}
/* -------------------------------------------------- */
@media screen and (min-width: 0em) and (max-width: 33.9em) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(233, 231, 231);
  }
  .list-container {
    width: 100%;
  }
}

@media screen and (min-width: 34em) and (max-width: 47.9em) {
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(233, 231, 231);
  }
  .card-container {
    width: 200px;
  }
  .name {
    font-size: 12px;
    padding-left: 1px;
  }
  .btn-overlay {
    font-size: 12px;
    height: 33px;
  }
  .edit-btn {
    width: 70%;
  }
  .delete-btn {
    width: 70%;
  }
}
